* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.drop-area {
    border: 4px dashed #ddd;
    height: 400px;
    width: 600px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop-area.active {
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.drop-area h2 {
    font-size: 32px;
    font-weight: 600;
    color: black;
    margin: 12px;
}

.drop-area span {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 12px;
}

.drop-area button {
    padding: 12px 24px;
    font-size: 24px;
    border: 0;
    outline: none;
    background-color: #438dca;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin: 12px;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: solid 1px #ddd;
}

#preview {
    margin-top: 12px;
}

.status.text {
    padding: 0 12px;
}

.success {
    color: green;
}

.failure {
    color: red;
}